.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  height: 5vh;
  width: 90vw;
  
  margin: .4rem auto;

  border-radius: 5px;

  background-color: var(--color-01);
}

