:root {
  --color-01: #dce0e6;
  --color-02: #606d80;
  --color-03: #567ebb;
  --color-04: #2b4c7e;
  --color-05: #1f1f20;
}

body {
  display: grid;
  justify-content: center;
  grid-template-rows: 7vh 86vh 7vh;

  font-family: "Roboto", sans-serif;
  color: var(--color-05);

  background-color: var(--color-02);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;

  margin: 0.3rem;
}

.main{
  display: grid;

  height: 80vh;
  width: 75vw;

  border-radius: 5px;

  background-color: var(--color-01);
}