:root {
  --color-01: #dce0e6;
  --color-02: #606d80;
  --color-03: #567ebb;
  --color-04: #2b4c7e;
  --color-05: #1f1f20;
}

body {
  display: grid;
  justify-content: center;
  grid-template-rows: 7vh 86vh 7vh;

  font-family: "Roboto", sans-serif;
  color: var(--color-05);

  background-color: var(--color-02);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;

  margin: 0.3rem;
}

.main{
  display: grid;
  grid-template-columns: 2fr 8fr;

  height: 85vh;
  width: 90vw;

  margin: 0 auto;

  border-radius: 5px;

  background-color: var(--color-01);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem .5rem;

  background-color: var(--color-04);
  box-shadow: 3px 0px 10px var(--color-05);
  border-right: 1px solid var(--color-05);

}

.sec_perfil{
  display: flex;
  flex-direction: column;

  padding: 1rem;
}